body{
    padding-top: 85px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0284C7;
    padding:11.5px;
    border-radius: 0 0 8px 8px;

}

.navbar .webname h2{
    font-size: 1.5rem;
    margin-left:30px;
    font-weight: 700;
}
.navbar .webname h2 span{
    color:  #f98960;
}
.navbar .nav-items ul{
    margin-right: 30px;
    display: flex;
    list-style: none;
    gap:18px;
}

.navbar .nav-items a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.08rem;
    font-weight: 650;
    transition: 0.4s ease;
}

.nav-items a.active{
    color: #f98960;
      
}
